section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}

h1 {
    font-family: 'Lucida Sans Unicode';
    font-size: 135px;
}

.card {
    width: 455px;
    height: 237px;
}

.eras {
    display: flex;
    width: 1080px;
}