section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}

.titulo {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 135px;
    -webkit-text-stroke: 0.5px #ffffff7a;
}

.card {
    width: 455px;
    height: 237px;
}

.eras {
    display: flex;
    width: 1080px;
    height: 237px;
}
/* //////////////////////////////////////////////////////////////HOVER SOBRE ERAS */
.NombreEra {
    display: none;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
}

.prote {
    background-image: url('../assets/backgrounds/Eón-Proterozoico.jpg');
    width: 400px;
    transition: 0.5s;
    border-radius: 5px;

}
.prote:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    transition: 1s;
    .NombreEra {
        display: block;
        border:1px solid white;
        border-radius: 5px;
        background-color: rgba(0, 255, 255, 0.258);
    }
}

.paleo {
    background-image: url('../assets/backgrounds/Eón-Paleozoico.jpg');
    width: 400px;
    transition: 0.5s;
    border-radius: 5px;

}
.paleo:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    transition: 1s;
    .NombreEra {
        display: block;
        border:1px solid white;
        border-radius: 5px;
        background-color: rgba(0, 255, 255, 0.258);
    }
}

.meso {
    background-image: url('../assets/backgrounds/Eón-Mesozoico.jpg');
    width: 400px;
    transition: 0.5s; 
    border-radius: 5px;
}
.meso:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    transition: 1s;
    .NombreEra {
        display: block;
        border:1px solid white;
        border-radius: 5px;
        background-color: rgba(0, 255, 255, 0.258);
    }
}

.ceno {
    background-image: url('../assets/backgrounds/Eón-Cenozoico.jpg');
    width: 400px;
    transition: 0.5s;
    border-radius: 5px;

}

.ceno:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    transition: 1s;
    .NombreEra {
        display: block;
        border:1px solid white;
        border-radius: 5px;
        background-color: rgba(0, 255, 255, 0.258);
    }
}

